name: Auto commit

on:
  push:
    branches:
      - main

  schedule:
    - cron: '0 * * * *' # Setiap 1 jam

permissions:
  contents: write

jobs:
  auto_commit:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          persist-credentials: false
          fetch-depth: 0

      - name: Modify LAST_UPDATED
        run: |
          echo "$(date '+%A, %d %B %Y - %T %z')" > LAST_UPDATED

      - name: Encode prompt from PROMPT.txt
        id: encode_prompt
        run: |
          PROMPT_ENCODED=$(jq -sRr @uri < PROMPT.txt)
          echo "PROMPT_ENCODED=$PROMPT_ENCODED" >> $GITHUB_ENV

      - name: Generate commit message from Nekorinn API
        id: generate_commit
        run: |
          response=$(curl -s "https://backend1.tioo.eu.org/geminiai?q==${{ env.PROMPT_ENCODED }}")
          message=$(echo "$response" | jq -r '.data')
          echo "COMMIT_MSG=$(echo "$message")" >> $GITHUB_ENV

      - name: Commit changes
        run: |
          git config --local user.email "${{ secrets.EMAIL }}"
          git config --local user.name "Ditzzy"
          git add -A
          git commit -m "${{ env.COMMIT_MSG }}" || echo "No changes to commit"

      - name: Push changes
        uses: ad-m/github-push-action@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
